<div class="vwatch vwatch-list-event">
    <div class="vwatch-cover">
        <img src="https://placehold.co/1280x720/269fe6/FFF/png" alt="TempImg">
    </div>
    <div class="vwatch-title-container">
        <h2 class="recipe-title">
            {{vwatch.title}}
        </h2>
    </div>
    <div class="vwatch-author-container">
        <span class="vwatch-author-name">
            <i class="fas fa-user"></i>
            {{vwatch.author.first_name}} {{vwatch.author.last_name}}
        </span>
        <span class="vwatch-author-date">
            <i class="fas fa-calendar-alt"></i>
            {{vwatch.created_at|date:"d/m/Y"}} às {{vwatch.created_at|date:"H:i"}}
        </span>
        <span class="vwatch-author-category">
            <a href="COLOCAR CAMINHO" class="">
                <i class="fas fa-layer-group"></i>
                <span>{{vwatch.category.name}}</span>
            </a>
        </span>
        <p class="vwatch-author-description">
            {{vwatch.description}}
        </p>
    </div>
    <footer class="vwatch-card-footer">
        <div class="vwatch-meta-container">
            <div class="vwatch-meta vwatch-people">
                <h3 class="vwatch-people-title"><i class="fas fa-check"></i> Pessoas </h3>
                {{vwatch.people}}
            </div>
            <div class="vwatch-meta vwatch-see-more">
                <a href="http://127.0.0.1:8000/evento/5616/" class="vwatch-see-more-link">
                    <h3 class="vwatch-see-more-title"> <i class="fas fa-eye"></i> Ver mais </h3>
                </a>
            </div>
        </div>
    </footer>
</div>