<!DOCTYPE html>
<html lang="en">
    <title> Evento | Vwatch </title>
{% include 'vwatch/partials/head.html' %}

<body>
    {% include 'vwatch/partials/header.html' %}
    {% include 'vwatch/partials/search_bar.html' %}
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% for vwatch in vwatch %}
                {% include 'vwatch/partials/card.html' %}
            {% endfor %}
        </div>
    </main>
    {% include 'vwatch/partials/footer.html' %}
</body>

</html>